<%= render 'layouts/header' %>

<div class="header-container">
  <div class="wrapper">
    <header>
      <div class="hero"> 
        <div class="column-1-2">
          <h1>РЕМОНТ КОМПЬЮТЕРНОЙ ТЕХНИКИ</h1>
          <p>быстро и качественно</p>
          <a href="mailto:skolia0@gmail.com">Напишите мне</a>
        </div>
       
        <div class="column-1-2">
          <img src="/images/photo.png" alt="" />
        </div>
      </div>
    </header> 
  </div>    
</div>

<%= render 'layouts/footer' %>
