<%= render 'layouts/header' %>

<div class="header-container">
  <div class="wrapper">
    <header>
      <div class="hero"> 
        <div class="text">
        <h1>Цены на услуги</h1>
          <p>Цены указаны без учета стоимости деталей.<br/> Полная стоимость ремонта будет известна<br/> после диагностики устройства.
        </p>

      </div>
       
        <div class="text">
          <img src="/images/price.png" alt="" />
        </div>
      </div>
    </header> 
  </div>    
</div>

<%= render 'layouts/footer' %>
