<% provide :title, "Price" %>

<%= render 'layouts/header' %> 

<div class="header-container">
  <div class="wrapper">
  	<header>
      <div class="text">
        <h1>Цены на услуги</h1>
          <p>Цены указаны без учета стоимости деталей.<br/> Полная стоимость ремонта будет известна после диагностики устройства.
    	  </p>
      </div>

      <div class="text">
        <img src="/images/price.png" alt="Прайс" width="700" height="700"/>   
      </div>
    </header>
  </div>
</div>

<%= render 'layouts/footer' %>
