<div class="social-icons">
  <a href="https://instagram.com/help_computer_39?utm_medium=copy_link">
    <img src="/images/inst.png" alt="Inst" />
  </a>
  <a href="https://vk.com/kompremont39">
    <img src="/images/vk.png" alt="VK" />
  </a>
  <a href="https://wa.me/79632966600">
    <img src="/images/wa.png" alt="WA" />
  </a>
</div>
