<div class="container social-icons">
  <a href="https://instagram.com/computer.service.39?utm_medium=copy_link">
    <img src="/images/inst.png" alt="Inst" />
  </a>
  <a href="https://vk.com/kompremont39">
    <img src="/images/vk.png" alt="VK" />
  </a>
  <a href="https://wa.me/79632966600">
    <img src="/images/wa.png" alt="WA" />
  </a>
  <a href="tel:+79632966600">
    <img src="/images/phone.png" alt="phone" />
  </a>
  <h2>+7 (963) 296-66-00</h2>
</div>
